<!-- TODO
Don't select the first item in jobs by default
instead display < NONE > or something so people
know to select the correct job
-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="py-5 text-center">
        Dashboard
    </h2>
</div>


{% if shift is none %}
<div class='container'>
    <form action="{{ url_for('main.clockin')}}" method="POST">
        <div class="form-group"><h2>Jobs</h2></div>
        <div class="form-group">
            

            {% for j in jobs %}
            <h5>{{ j.name }}</h5>
            <label>
                <input type="radio" name="id" value="{{j.name}}">
                <img src="/static/images/{{j.name}}.png">
            </label>
            {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Clockin</button>
    </form>
    </div>
{% else %}
<div class='container'>
    <form action="{{ url_for('main.clockout')}}" method="POST">
        <button type="submit" class="btn btn-primary">Clockout</button>
    </form>

{% endif %}

{% endblock %}
