{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Farmers</h1>
  <div class='container'>
    <h3>Search Farmers</h3>
  <form action="{{ url_for('search_farmers')}}" method="GET">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control classname" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter farmer name" value="{{ name }}">
        <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>

    <div class="row">
      <div class="col-12">
          <div class="container">
            {% for f in farmers %}
                <div class="row mb-4">
                <div class="col-1">  {{f.id}} </div>
                <div class="col-6"> <b><a href="{{ url_for('view_farmer', id=f.id) }}">{{f.fname}} {{f.lname}}</a> </b> </div> 
                <div class='col-5'>
                <span class="font-weight-light">&nbsp;&nbsp;&nbsp;{{ f.address }}</span> 
                </div>
                <div class="col-1"></div>
                <div class="col-6"> Email: {{f.email}} </div>
                <div class="col-3"> &nbsp;&nbsp;&nbsp;Telephone: {{f.tele}} </div>      
                <div class="col-2"></div>
                <div class="col-12"> <hr/></div>
                </div>
            {% endfor %}
          </div>
      </div>

    </div>
  </div>
{% endblock %}